*{
  box-sizing: border-box;
}
.App {
  box-sizing: border-box;
}

.background-login-register{
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.welcome-statement{
  align-self: center;
  color: #000000;
  font-size: 60px;
}
.quizzhub-title{
  color: #000000;
  font-size: 90px;
}
.login-header {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3.47vh;
}
.login-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-button {
  border: none;
  height: 8.19vh;
  width: 29.21vw;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}


.text-box-plain {
  height: 8.19vh;
  width: 29.21vw;
  margin-bottom: 3.19vh;
  border: 1px black solid;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 50px;
  background-color: #ffffff;
}
.login-footer-statement {
  margin-top: 1.8vh;
  align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.login-footer-statement-register {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}

.dashboard-navigate{
  display: flex;
  justify-content: space-around;
  margin-bottom: 8vh;

}

.dashboard-navigate-element{
  cursor: pointer;
  font-size: 24px;
}
.active{
  border-bottom: 2px black solid;
}

.quiz-list-box{
  display: flex;
  flex-direction: column;
  border: 2px aqua solid;
  margin-bottom: 25px;
  margin-right: 50vw;
  padding: 8px;
  cursor: pointer;
}
.quiz-list-box-header{
  display: flex;
  justify-content: space-between;

}
.navbar {
  background-color: aqua;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4vh;
  padding: auto 2vw;
}


.navbar-element{
  margin-left: 5vw;
  color: #000000;
}
.appname {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  margin-right: auto;
  padding-left: 2vw;
}
.user{
  color: #ffffff;
  font-weight: 700;
  padding-right: 2vw;
}
.navbar-link{
  color: #000000;
  text-decoration: none;
}
.register{
  cursor: pointer;
}

.view-quiz-container{
  margin: auto 8vw;
}
.view-quiz-question-header{
  display: flex;
  align-items: center;

}
.view-quiz-header-element{
  margin-right: 1vw;
  font-weight: 600;
}
.view-quiz-question{
  margin-bottom: 5vh;

}
.created-quizzes-container{
  margin: auto 5vw;
}
.search-button{
  margin-left: 4vw;
  border: none;
  height: 8vh;
  width: 10vw;
  font-weight: 300;
  font-size: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
.question-text-box {
  margin-bottom: 3.19vh;
  border: 1px black solid;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 5px;
  background-color: #ffffff;
}
.question-header-create-quiz{
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-bottom: 2vh;
}
.create-quiz-button{
  border: none;
  height: 6vh;
  width: 8vw;
  font-weight: 300;
  font-size: 14px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.option-text-box{
    border: 1px black solid;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #ffffff;
}
.one-question{
  margin-bottom: 5vh;
}
.create-quiz-footer{
  margin-top: 5vh;
}